/*General element properties*/
header {
    display: flex;
    justify-content: space-between;
    padding: 2% 1%;
    border-bottom: 10px double black;
    background-color: rgb(181, 245, 245);
}

aside {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 5px solid black;
    width: 50%;
    padding: 20% 10px;
}

form {
    display: inline-block;
    text-align: center;
    padding: 15% 10px;
    width: 50%;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    margin: 20px 0px;
}

h3 {
    margin: 20px 0;
}

h4 {
    text-align: center;
    margin: 0 0 10px 0;
}

footer {
    padding: 10px;
    border-top: 10px double black;
}

footer ul {
    list-style-type: none;
    margin: 10px;
}

footer ul a {
    text-decoration: none;
}

footer ul a:hover {
    background-color:brown;
}

/*class properties*/
.container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

/*id properties*/
#outer-form-div {
    margin: 0 5%;
    padding: 2%;
    border-radius: 10px;
    border: 2px solid black;
}

#inner-form-div {
    display: block;
    text-align: left;
    padding: 0px 5%;
    margin: auto;
}

/*id Properties for the input elements and button*/
#username,
#title,
#content,
#submit {
    width: 100%;
    margin: 10px 0px;
    padding: 5px;
    display: block;
}

/*Setting properties for the buttons*/
#mode-toggle,
#submit {
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(26, 26, 173);
    color: white;
    cursor: pointer;
}