:root {
    --soft-light: rgb(181, 245, 245);
    --hard-light: rgb(157, 246, 207);
}

.soft-light {
    background-color: var(--soft-light);
    color: black;
}

.hard-light {
    background-color: var(--hard-light);
    color: black;
}

.soft-dark {
    background-color: gray;
    color: white;
}

.hard-dark {
    background-color: black;
    color: white;
}